
<html>
  <head>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/4ef783512b.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/global.css">
    <script src="/static/global.js"></script>
  </head>

  <body>
    <div class="container" id="container">
      <div id="content" class="mb-3 mx-3 p-5 bg-light rounded-lg">
        <div class="mb-1 position-fixed border pt-3 px-5 bg-light" style="top: 0px; height: 110px; margin-left: -50px; width: 1080px; opacity: 0.8;">
          <a href="/classify">classify</a>
          | <a href="/browse">tagging</a>
          | <a href="/train">results</a>
          <span class="display-inline-block ml-4 text-info"><img id="working-gif" height="10" class="display-none" src="/static/loading-dotline-pink.gif"></span>
          {{#if title}}
            <div class="border-top pt-2 mt-3">
              <h4>{{title}}</h4>
            </div>
          {{/if}}
        </div>
        <br>
        <br>
        <br>
        {{{body}}}
      </div>
    </div>
  </body>
</html>
