<a href="/classify?status=classified">reclassify</a>

<div class="mt-3">
  {{#each styles}}
    <div class="float-left rounded border py-1 px-2 mr-2 mb-2">
      <a href="/style/{{name}}">{{name}}</a> ({{count}})
    </div>
  {{/each}}

  <div class="clearfix"></div>
</div>
