@import "colors";

.background(@color) {
    background-color: @color ! important;
}

.bordered(@radius: 0px, @width: thin, @style: solid, @color: @default-border-color) {
    border: @width @style @color ! important;
    border-radius: @radius ! important;
}

.text-gray-1 { color: @gray-1 ! important; }
.text-gray-2 { color: @gray-2 ! important; }
.text-gray-3 { color: @gray-3 ! important; }
.text-gray-4 { color: @gray-4 ! important; }
.text-gray-5 { color: @gray-5 ! important; }

.text-pink-1 { color: @pink-1 ! important; }
.text-pink-2 { color: @pink-2 ! important; }
.text-pink-3 { color: @pink-3 ! important; }
.text-pink-4 { color: @pink-4 ! important; }
.text-pink-5 { color: @pink-5 ! important; }

.bg-gray-1 { background-color: @gray-1 ! important; }
.bg-gray-2 { background-color: @gray-2 ! important; }
.bg-gray-3 { background-color: @gray-3 ! important; }
.bg-gray-4 { background-color: @gray-4 ! important; }
.bg-gray-5 { background-color: @gray-5 ! important; }

.bg-story-powder { background-color: @story-powder ! important; }

.bg-pink-0 { background-color: @pink-0 ! important; }
.bg-pink-1 { background-color: @pink-1 ! important; }
.bg-pink-2 { background-color: @pink-2 ! important; }
.bg-pink-3 { background-color: @pink-3 ! important; }
.bg-pink-4 { background-color: @pink-4 ! important; }
.bg-pink-5 { background-color: @pink-5 ! important; }

.border-pink-1 { border-color: @pink-1 ! important; }
.border-pink-2 { border-color: @pink-2 ! important; }
.border-pink-3 { border-color: @pink-3 ! important; }
.border-pink-4 { border-color: @pink-4 ! important; }
.border-pink-5 { border-color: @pink-5 ! important; }

.bg-blue-1 { background-color: @blue-1 ! important; }
.bg-blue-2 { background-color: @blue-2 ! important; }
.bg-blue-3 { background-color: @blue-3 ! important; }
.bg-blue-4 { background-color: @blue-4 ! important; }
.bg-blue-5 { background-color: @blue-5 ! important; }

.border-blue-1 { border-color: @blue-1 ! important; }
.border-blue-2 { border-color: @blue-2 ! important; }
.border-blue-3 { border-color: @blue-3 ! important; }
.border-blue-4 { border-color: @blue-4 ! important; }
.border-blue-5 { border-color: @blue-5 ! important; }


.border-dashed {
    border-style: dashed;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.font-weight-medium {
    font-weight: 550;
}

.font-weight-heavy {
    font-weight: 750;
}

.btn-inline {
    padding-top: 3 ! important;
    padding-bottom: 3 ! important;
}

.text-strikethrough {
    text-decoration: line-through!important;
}

.text-mono {
    font-family: monospace ! important;
}

.text-tiny {
    font-size: 50%;
}

.text-interesting {
    color: @rainbow-blue;
}

.text-bizarre {
    color: @rainbow-violet;
}

.text-orange {
    color: @rainbow-orange;
}

.w-33 {
    width: 33%;
}

.w-40 {
    width:  40%;
}

.w-45 {
    width:  45%;
}

.inline {
    display: inline-block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.position-fixed {
    position: fixed;
}

.hide {
    display: none;
}

body {
    color: @story-black;
}

h1, h2, h3, h4, h5, h6 {
    color: @story-black ! important;
}

#content {
    &.flashing {
        background-color: @pink-3 ! important;
    }
}

a {
    color: @story-purple ! important;
}
